#video1{
    display: block;
}

.scrub{
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 7%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .controlsContainer{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  #rewind{
    cursor: pointer;
    filter:invert();
  }
  
  #rewind:hover{
    background-color: rgba(0,0,0,.2);
  }
  
  #play{
    cursor: pointer;
    filter:invert();
  }
  
  #play:hover{
    background-color: rgba(0,0,0,.2);
    border-radius: 50%;
  }
  
  #forward{
    cursor: pointer;
    filter:invert();
  }
  
  #forward:hover{
    background-color: rgba(0,0,0,.2);
  }
  
  #profile{
    position: absolute;
    left: 20px;
    bottom: 4px;
    cursor: pointer;
    filter:invert();
  }
  
  input[type='range'] {
      -webkit-appearance: none;
    appearance: none;
      height: 8px;
    width: 98%;
      background: #0C7B93;
      border-radius: 5px;
      background-image: linear-gradient(#D65A31, #D65A31);
      background-repeat: no-repeat;
  }
  
  input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background: #fff;
      cursor: pointer;
      box-shadow: 0 0 2px 0 #555;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      box-shadow: none;
      border: none;
      background: transparent;
  }
  
  input[type="range"]::-webkit-slider-thumb:hover {
    box-shadow: #d46a6a50 0px 0px 0px 8px;
  }
  
  input[type="range"]::-webkit-slider-thumb:active {
    box-shadow: #d46a6a50 0px 0px 0px 11px;
    transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, left 350ms cubic-
    bezier(0.4, 0, 0.2, 1) 0ms, bottom 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
  
  input[type='range']::-webkit-slider-thumb {
      transition: background-color 0.3s ease-in-out;
  }
  