*{
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Roboto', sans-serif;
}

body{
  width: 100%;
  height: 100%;
  background-color: #222831;
  color: #000;
  overflow: hidden;
}

.container {
  grid-template-columns: 1fr 1fr 1fr;
}

.nav{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 5%;
  background-color: #393E46;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 10%;
  height: 100%;
  filter:invert();
  margin-left: 20px;
}

.blackOut{
  position: absolute;
  display: none;
  top: 5%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  z-index: 100;
  overflow: hidden;
}

.videoStreamContainer{
  position: absolute;
  top: 3rem;
  width: 77%;
  height: 86%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.card{
  position: relative;
  height: 49%;
  width: 48%;
  margin: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 3rem;
  font-size: large;
  background-color: #EEEEEE;
  text-decoration: underline;
  border-radius: .4rem;
  overflow: hidden;
}

.viewData{
  width: fit-content;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.driverVid{
  width: 50%;
  border-radius: 1rem;
}

.jobInformation{
  position: absolute;
  top: 3.5rem;
  right: 1rem;
  width: 22%;
  height: 84%;
  border-radius: .4rem;
  line-height: 3rem;
  font-size: large;
  background-color: #EEEEEE;
  text-decoration: underline;
  display: flex;
  justify-content: center;
}

.d-tree-container {
  list-style: none;
  padding: 0;
}

.d-tree-node {
  padding: 0.75rem 1.25rem;
}

.d-tree-toggler.active {
  transform: rotate(45deg);
}

.testing{
  margin-top: 16px;
  margin-right: 12px;
  position: absolute;
  width: 320px;
  height: 670px;
  background-color: #EEEEEE;
  right: 0px;
  border-radius: .4rem;
}